@use '../../../variables.scss';

.container-card {
  gap: 24px;
  padding: 32px;
  border-radius: 16px;
  border: 1px solid variables.$primary-light-color;
  box-shadow: 0px 1px 2px 0px #1018280D;
}

@media (max-width:variables.$mobile-medium-layout) {
  .container-card {
    padding: 24px;
  }
}